.country-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .add-country-form{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
  
  .country-table th, .country-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .btn {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .form-group {
    margin-bottom: 15px;
  }